<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define ProductName="RDP Wrapper Library" ?>
	<?define ProductVersion="1.6.1" ?>
	<?define ProductCode="37ea5771-3352-4a52-9fac-9297331daebd"?>
	<?define UpgradeCode="6623f60c-e84f-41e7-a55b-f421165deeb5"?>
	<?define Manufacturer="Stas'M Corp. and contributors"?>

	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200"/>
		<Property Id="MSIFASTINSTALL" Value="1" />
		<Property Id="DISABLEROLLBACK" Value="1" />

		<Media Id="1"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Component Id="ProductComponent" Guid="affd77d1-b35c-46f3-a97f-1686dc57b8b8">
				<!-- <File Id='RDPConf' DiskId='1' Source='RDPConf.exe'/> -->
			</Component>
		</Directory>

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentRef Id="ProductComponent" />
		</Feature>

		<CustomAction Id='FooAction' Directory='TARGETDIR' ExeCommand='[SourceDir]\RDPConf' Execute='immediate' Return='check'/>

		<InstallExecuteSequence>
			<Custom Action='FooAction' After='InstallFinalize'>Not Installed</Custom>
		</InstallExecuteSequence>

	</Product>
</Wix>
